<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/js/home/login.js" defer></script>
    
    <title>Document</title>
</head>
<body>
    <div class="loginBox">
        <input id="id" class="input" type="text" placeholder="id"><br/>
        <input id="pw" class="input" type="text" placeholder="pw"><br/>
        <button>로그인</button>
    </div>  
</body>
<style>
    .loginBox {
                width: 250px;
                border: 1px solid #dedede;
                border-radius: 15px;
                margin: 0 auto;
                padding: 25px;
              }
    .loginBox .input {
                        width:95%;
                        height:25px;
                        border: 1px solid #dedede;
                        border-radius: 5px;
                        margin-bottom: 10px;
                    }

    button {
            width: 97%;
            border: none;
            background-color: #ebebeb;
            border-radius: 5px;
            height:30px;
    }
</style>
</html>